@model BankViewModel
@using TrialBalanceWebApp.Models;

@{
    ViewData["Title"] = "Details";

    void RenderGroupRow(AccountModel account)
    {
        <td>
            @account.BankAccount
        </td>
        <td>
            @string.Format(String.Format("{0:N2}", account.OpeningActive))
        </td>
        <td>
            @string.Format(String.Format("{0:N2}", account.OpeningPassive))
        </td>
        <td>
            @string.Format(String.Format("{0:N2}", account.RevenueDebit))
        </td>
        <td>
            @string.Format(String.Format("{0:N2}", account.RevenueCredit))
        </td>
        <td>
            @string.Format(String.Format("{0:N2}", account.OutgoingActive))
        </td>
        <td>
            @string.Format(String.Format("{0:N2}", account.OutgoingPassive))
        </td>
    }
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

<h1>Details of Bank @Model.Name</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th rowspan="2">
                Б/СЧ
            </th>
            <th colspan="2">
                Входящее сальдо
            </th>
            <th colspan="2">
                Обороты
            </th>
            <th colspan="2">
                Исходящее сальдо
            </th>
        </tr>
        <tr>
            <th>
                Актив
            </th>
            <th>
                Пассив
            </th>
            <th>
                Дебет
            </th>
            <th>
                Кредит
            </th>
            <th>
                Актив
            </th>
            <th>
                Пассив
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var accountClass in Model.Classes)
        {
            <tr>
                <td colspan="7" style="font-weight: bold;">
                    @Html.DisplayFor(accountClassItem => accountClass.Name)
                </td>
            </tr>
            @foreach (var account in accountClass.Accounts)

            {
                <tr class= @(account.IsBold ? "group-row": "")>
                    @{RenderGroupRow(account);}
                  </tr>
            }
        }
        @{
             <tr class= @(Model.TotalAccount.IsBold ? "group-row": "")>
                    @{RenderGroupRow(Model.TotalAccount);}
             </tr>         
        }
    </tbody>
        </table>
